<footer>
  <div class="main">
    <div class="aligncenter"> <span>Copyright &copy; <a href="http://catering-app.herokuapp.com/">catering-app.herokuapp.com</a> All Rights Reserved</span> Design by <a target="_blank" href="http://www.templatemonster.com/">catering-app.herokuapp.com</a> 
    <div align=center>Order your delicacies now!!!</a></div>
    </div>
  </div>
</footer>